In [1]:
import pandas as pd
import pyodbc
import yaml

from sqlalchemy import create_engine
from sqlalchemy.engine import URL

In [2]:
with open('config.yaml', 'r') as f:
    config = yaml.safe_load(f)
    config_op = config['OperationalDB']
Server=config_op['Server']
Database=config_op['Database']
Driver=config_op['Driver']
Driver='ODBC Driver 17 for SQL Server'

DatabaseCon=f'mssql://@{Server}/{Database}?driver={Driver}&trusted_connection=yes;'
engine = create_engine(DatabaseCon)
con = engine.connect()
dim_currency = pd.read_sql_query('SELECT * FROM [Sales].[Currency]', con)

In [3]:
dim_currency

    CurrencyCode                           Name ModifiedDate
0            AED                 Emirati Dirham   2008-04-30
1            AFA                        Afghani   2008-04-30
2            ALL                            Lek   2008-04-30
3            AMD                  Armenian Dram   2008-04-30
4            ANG  Netherlands Antillian Guilder   2008-04-30
..           ...                            ...          ...
100          VEB                        Bolivar   2008-04-30
101          VND                           Dong   2008-04-30
102          XOF                CFA Franc BCEAO   2008-04-30
103          ZAR                           Rand   2008-04-30
104          ZWD                Zimbabwe Dollar   2008-04-30

[105 rows x 3 columns]