# GEOGRAPHY DIMENSION

In [1]:
import pandas as pd
from connection_script import connect_databases

In [2]:
db_op, db_etl = connect_databases()

## EXTRACT

In [3]:
query = """
        SELECT DISTINCT t1.City, t2.StateProvinceCode,
        t2.Name AS StateProvinceName,
        t2.CountryRegionCode, t3.Name AS EnglishCountryRegionName, t1.PostalCode, t4.TerritoryID AS SalesTerritoryID
        FROM [Person].[Address] AS t1
        INNER JOIN [Person].[StateProvince] AS t2
        ON t1.StateProvinceID = t2.StateProvinceID
        INNER JOIN [Person].[CountryRegion] AS t3
        ON t2.CountryRegionCode = t3.CountryRegionCode
        INNER JOIN [Sales].[SalesTerritory] AS t4
        ON t2.TerritoryID = t4.TerritoryID
        ORDER BY EnglishCountryRegionName, t2.StateProvinceCode, t1.City ASC
        """
dim_geography = pd.read_sql_query(query, db_op)

In [4]:
len(dim_geography) # No matching size yet

683

In [5]:
# Increase table index by one
dim_geography.index += 1

## LOAD

In [6]:
dim_geography.to_sql('DimGeography', db_etl, if_exists='replace', index_label='GeographyKey')

159