# INTERNET SALES FACT

In [1]:
import pandas as pd
from connection_script import connect_databases
from datetime import datetime

In [2]:
db_op, db_etl = connect_databases()

## EXTRACT

In [3]:
# Extract required data
# Sales online orders
sales_order = pd.read_sql_query("""
        SELECT *,[dbo].[ufnGetProductStandardCost](t2.ProductID, t1.OrderDate) AS ProductStandardCost
        FROM Sales.SalesOrderHeader AS t1
        INNER JOIN Sales.SalesOrderDetail AS t2
        ON t1.SalesOrderID = t2.SalesOrderID
        WHERE t1.OnlineOrderFlag = 1;
        """, db_op)
sales_order = sales_order.loc[:,~sales_order.columns.duplicated()]
sales_order

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,ModifiedDate,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,ProductStandardCost
0,43697,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,...,2011-06-07,353,None,1,749,1,3578.2700,0.0,3578.2700,2171.2942
1,43698,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43698,None,10-4030-028389,...,2011-06-07,354,None,1,773,1,3399.9900,0.0,3399.9900,1912.1544
2,43699,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43699,None,10-4030-025863,...,2011-06-07,355,None,1,773,1,3399.9900,0.0,3399.9900,1912.1544
3,43700,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43700,None,10-4030-014501,...,2011-06-07,356,None,1,767,1,699.0982,0.0,699.0982,413.1463
4,43701,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43701,None,10-4030-011003,...,2011-06-07,357,None,1,773,1,3399.9900,0.0,3399.9900,1912.1544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,2014-07-07,121313,None,1,878,1,21.9800,0.0,21.9800,8.2205
60394,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,2014-07-07,121314,None,1,712,1,8.9900,0.0,8.9900,6.9223
60395,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,2014-07-07,121315,None,1,878,1,21.9800,0.0,21.9800,8.2205
60396,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,2014-07-07,121316,None,1,879,1,159.0000,0.0,159.0000,59.4660
60397,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,2014-07-07,121317,None,1,712,1,8.9900,0.0,8.9900,6.9223

In [4]:
# Load required dimensions
dim_product =  pd.read_sql_query('SELECT * FROM "DimProduct";', db_etl)
dim_product

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,StandardCost,FinishedGoodsFlag,Color,SafetyStockLevel,...,Class,Style,ModelName,LargePhoto,EnglishDescription,FrenchDescription,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription
0,1,AR-5381,NaN,None,None,Adjustable Race,0.0000,False,None,1000,...,None,None,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None
1,2,BA-8327,NaN,None,None,Bearing Ball,0.0000,False,None,1000,...,None,None,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None
2,3,BE-2349,NaN,None,None,BB Ball Bearing,0.0000,False,None,800,...,None,None,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,0.0000,False,None,800,...,None,None,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None
4,5,BL-2036,NaN,None,None,Blade,0.0000,False,None,800,...,None,None,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,44.9506,True,None,500,...,M,None,ML Bottom Bracket,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,Aluminum alloy cups; large diameter spindle.,Cuvettes en alliage d'aluminium ; axe de grand...,?????;???????,?????? ?? ????? ??????????? ??? ???? ????? ???...,??????? ??????? ?????????; ??? ???-????.,????????????????????? ???????????????
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,53.9416,True,None,500,...,H,None,HL Bottom Bracket,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,Aluminum alloy cups and a hollow axle.,Cuvettes en alliage d'aluminium et axe creux.,??????????,?????? ?? ????? ?????????? ????? ????.,??????? ??????? ????????? ???? ????.,????????????????????????????????
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44",343.6496,True,Black,100,...,L,U,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48",343.6496,True,Black,100,...,L,U,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52",343.6496,True,Black,100,...,L,U,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...

In [5]:
operational_products = pd.read_sql_query('SELECT ProductID, ProductNumber FROM [Production].[Product];', db_op)

In [6]:
dim_product = dim_product.merge(operational_products, left_on="ProductAlternateKey", right_on="ProductNumber")
dim_product = dim_product.drop_duplicates(subset=["ProductID"])

In [7]:
dim_product

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,StandardCost,FinishedGoodsFlag,Color,SafetyStockLevel,...,ModelName,LargePhoto,EnglishDescription,FrenchDescription,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,ProductID,ProductNumber
0,1,AR-5381,NaN,None,None,Adjustable Race,0.0000,False,None,1000,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,1,AR-5381
1,2,BA-8327,NaN,None,None,Bearing Ball,0.0000,False,None,1000,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,2,BA-8327
2,3,BE-2349,NaN,None,None,BB Ball Bearing,0.0000,False,None,800,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,3,BE-2349
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,0.0000,False,None,800,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,4,BE-2908
4,5,BL-2036,NaN,None,None,Blade,0.0000,False,None,800,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,316,BL-2036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,44.9506,True,None,500,...,ML Bottom Bracket,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,Aluminum alloy cups; large diameter spindle.,Cuvettes en alliage d'aluminium ; axe de grand...,?????;???????,?????? ?? ????? ??????????? ??? ???? ????? ???...,??????? ??????? ?????????; ??? ???-????.,????????????????????? ???????????????,995,BB-8107
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,53.9416,True,None,500,...,HL Bottom Bracket,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,Aluminum alloy cups and a hollow axle.,Cuvettes en alliage d'aluminium et axe creux.,??????????,?????? ?? ????? ?????????? ????? ????.,??????? ??????? ????????? ???? ????.,????????????????????????????????,996,BB-9108
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44",343.6496,True,Black,100,...,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...,997,BK-R19B-44
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48",343.6496,True,Black,100,...,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...,998,BK-R19B-48
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52",343.6496,True,Black,100,...,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...,999,BK-R19B-52

In [8]:
dim_customer = pd.read_sql_query('SELECT * FROM "DimCustomer";', db_etl)
dim_customer

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase
0,11000,26,AW00011000,None,Jon,V,Yang,False,1966-04-08,M,...,2.0,0.0,Bachelors,Professional,True,0.0,3761 N. 14th St,None,1 (11) 500 555-0162,2001-07-22
1,11001,37,AW00011001,None,Eugene,L,Huang,False,1965-05-14,S,...,3.0,3.0,Bachelors,Professional,False,1.0,2243 W St.,None,1 (11) 500 555-0110,2001-07-18
2,11002,31,AW00011002,None,Ruben,None,Torres,False,1965-08-12,M,...,3.0,3.0,Bachelors,Professional,True,1.0,5844 Linden Land,None,1 (11) 500 555-0184,2001-07-10
3,11003,11,AW00011003,None,Christy,None,Zhu,False,1968-02-15,S,...,0.0,0.0,Bachelors,Professional,False,1.0,1825 Village Pl.,None,1 (11) 500 555-0162,2001-07-01
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,False,1968-08-08,S,...,5.0,5.0,Bachelors,Professional,True,4.0,7553 Harness Circle,None,1 (11) 500 555-0131,2001-07-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,145,AW00029479,None,Tommy,L,Tang,False,1958-07-04,M,...,1.0,0.0,Graduate Degree,Clerical,True,0.0,"111, rue Maillard",None,1 (11) 500 555-0136,2003-03-08
18480,29480,251,AW00029480,None,Nina,W,Raji,False,1960-11-10,S,...,3.0,0.0,Graduate Degree,Clerical,True,0.0,9 Katherine Drive,None,1 (11) 500 555-0146,2004-01-18
18481,29481,169,AW00029481,None,Ivan,None,Suri,False,1960-01-05,S,...,3.0,0.0,Graduate Degree,Clerical,False,0.0,Knaackstr 4,None,1 (11) 500 555-0144,2002-02-13
18482,29482,114,AW00029482,None,Clayton,None,Zhang,False,1959-03-05,M,...,3.0,0.0,Bachelors,Clerical,True,0.0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2003-03-22
18483,29483,153,AW00029483,None,Jésus,L,Navarro,False,1959-12-08,M,...,0.0,0.0,Bachelors,Clerical,True,0.0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2003-03-13

In [9]:
dim_promotion = pd.read_sql_query('SELECT * FROM "DimPromotion";', db_etl)
dim_promotion

,PromotionKey,PromotionAlternateKey,EnglishPromotionName,DiscountPct,EnglishPromotionType,EnglishPromotionCategory,StartDate,EndDate,MinQty,MaxQty
0,0,1,No Discount,0.00,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN
1,1,2,Volume Discount 11 to 14,0.02,Volume Discount,Reseller,2011-05-31,2014-05-30,11,14.0
2,2,3,Volume Discount 15 to 24,0.05,Volume Discount,Reseller,2011-05-31,2014-05-30,15,24.0
3,3,4,Volume Discount 25 to 40,0.10,Volume Discount,Reseller,2011-05-31,2014-05-30,25,40.0
4,4,5,Volume Discount 41 to 60,0.15,Volume Discount,Reseller,2011-05-31,2014-05-30,41,60.0
5,5,6,Volume Discount over 60,0.20,Volume Discount,Reseller,2011-05-31,2014-05-30,61,NaN
6,6,7,Mountain-100 Clearance Sale,0.35,Discontinued Product,Reseller,2012-04-13,2012-05-29,0,NaN
7,7,8,Sport Helmet Discount-2002,0.10,Seasonal Discount,Reseller,2012-05-30,2012-06-29,0,NaN
8,8,9,Road-650 Overstock,0.30,Excess Inventory,Reseller,2012-05-30,2012-07-30,0,NaN
9,9,10,Mountain Tire Sale,0.50,Excess Inventory,Customer,2013-05-14,2013-07-29,0,NaN
10,10,11,Sport Helmet Discount-2003,0.15,Seasonal Discount,Reseller,2013-05-30,2013-06-29,0,NaN
11,11,12,LL Road Frame Sale,0.35,Excess Inventory,Reseller,2013-05-30,2013-07-14,0,NaN
12,12,13,Touring-3000 Promotion,0.15,New Product,Reseller,2013-05-30,2013-08-29,0,NaN
13,13,14,Touring-1000 Promotion,0.20,New Product,Reseller,2013-05-30,2013-08-29,0,NaN
14,14,15,Half-Price Pedal Sale,0.50,Seasonal Discount,Customer,2013-07-14,2013-08-14,0,NaN
15,15,16,Mountain-500 Silver Clearance Sale,0.40,Discontinued Product,Reseller,2014-03-31,2014-05-30,0,NaN

In [10]:
dim_sales_territory = pd.read_sql_query('SELECT * FROM "DimSalesTerritory";', db_etl)
dim_sales_territory

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
0,1,1,Northwest,United States,North America
1,2,2,Northeast,United States,North America
2,3,3,Central,United States,North America
3,4,4,Southwest,United States,North America
4,5,5,Southeast,United States,North America
5,6,6,Canada,Canada,North America
6,7,7,France,France,Europe
7,8,8,Germany,Germany,Europe
8,9,9,Australia,Australia,Pacific
9,10,10,United Kingdom,United Kingdom,Europe
10,11,0,NA,NA,NA

In [11]:
dim_dates = pd.read_sql_query('SELECT * FROM "DimDate";', db_etl)
dim_dates

,DateKey,FullDateAlternateKey,EnglishDayNumberOfWeek,EnglishDayNameOfWeek,SpanishDayNameOfWeek,FrenchDayNameOfWeek,DayNumberOfMonth,WeekNumberOfYear,EnglishMonthName,SpanishMonthName,FrenchMonthName,MonthNumberOfYear,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester
0,20050101,2005-01-01,7,Saturday,Sábado,Samedi,1,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
1,20050102,2005-01-02,1,Sunday,Domingo,Dimanche,2,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
2,20050103,2005-01-03,2,Monday,Lunes,Lundi,3,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
3,20050104,2005-01-04,3,Tuesday,Martes,Mardi,4,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
4,20050105,2005-01-05,4,Wednesday,Miércoles,Mercredi,5,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,20141227,2014-12-27,7,Saturday,Sábado,Samedi,361,pending,December,Diciembre,Décembre,12,4,2014,2,2,2015,1
3648,20141228,2014-12-28,1,Sunday,Domingo,Dimanche,362,pending,December,Diciembre,Décembre,12,4,2014,2,2,2015,1
3649,20141229,2014-12-29,2,Monday,Lunes,Lundi,363,pending,December,Diciembre,Décembre,12,4,2014,2,2,2015,1
3650,20141230,2014-12-30,3,Tuesday,Martes,Mardi,364,pending,December,Diciembre,Décembre,12,4,2014,2,2,2015,1
3651,20141231,2014-12-31,4,Wednesday,Miércoles,Mercredi,365,pending,December,Diciembre,Décembre,12,4,2014,2,2,2015,1

In [12]:
dim_currency = pd.read_sql_query('SELECT * FROM "DimCurrency";', db_etl)
dim_currency

     CurrencyKey CurrencyAlternateKey     CurrencyName
0              1                  AFA          Afghani
1              2                  DZD   Algerian Dinar
2              3                  ARS   Argentine Peso
3              4                  AMD    Armenian Dram
4              5                  AWG   Aruban Guilder
..           ...                  ...              ...
100          101                  KRW              Won
101          102                  JPY              Yen
102          103                  CNY    Yuan Renminbi
103          104                  ZWD  Zimbabwe Dollar
104          105                  PLN            Zloty

[105 rows x 3 columns]

In [13]:
currency_rate = pd.read_sql_query('SELECT CurrencyRateID, ToCurrencyCode FROM [Sales].[CurrencyRate]', db_op)

In [14]:
sales_order = sales_order.merge(currency_rate, on="CurrencyRateID", how="left")
sales_order["ToCurrencyCode"] = sales_order["ToCurrencyCode"].apply(lambda x: 'USD' if pd.isna(x) else x )

In [15]:
sales_order = sales_order.merge(dim_currency, left_on="ToCurrencyCode", right_on="CurrencyAlternateKey")

In [16]:
sales_order = sales_order.drop(columns=["ToCurrencyCode", "CurrencyAlternateKey", "CurrencyRateID"])

In [17]:
sales_order["OrderDate"] = sales_order["OrderDate"].apply(lambda x: datetime.strftime(x, '%Y-%m-%d'))
sales_order["DueDate"] = sales_order["DueDate"].apply(lambda x: datetime.strftime(x, '%Y-%m-%d'))
sales_order["ShipDate"] = sales_order["ShipDate"].apply(lambda x: datetime.strftime(x, '%Y-%m-%d'))

## TRANSFORM

In [18]:
dim_product

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,StandardCost,FinishedGoodsFlag,Color,SafetyStockLevel,...,ModelName,LargePhoto,EnglishDescription,FrenchDescription,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,ProductID,ProductNumber
0,1,AR-5381,NaN,None,None,Adjustable Race,0.0000,False,None,1000,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,1,AR-5381
1,2,BA-8327,NaN,None,None,Bearing Ball,0.0000,False,None,1000,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,2,BA-8327
2,3,BE-2349,NaN,None,None,BB Ball Bearing,0.0000,False,None,800,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,3,BE-2349
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,0.0000,False,None,800,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,4,BE-2908
4,5,BL-2036,NaN,None,None,Blade,0.0000,False,None,800,...,None,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,None,None,None,None,None,None,316,BL-2036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,44.9506,True,None,500,...,ML Bottom Bracket,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,Aluminum alloy cups; large diameter spindle.,Cuvettes en alliage d'aluminium ; axe de grand...,?????;???????,?????? ?? ????? ??????????? ??? ???? ????? ???...,??????? ??????? ?????????; ??? ???-????.,????????????????????? ???????????????,995,BB-8107
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,53.9416,True,None,500,...,HL Bottom Bracket,GIF89að • ÷     €   € €€   €€ € €€€€€ÀÀÀÿ   ÿ ...,Aluminum alloy cups and a hollow axle.,Cuvettes en alliage d'aluminium et axe creux.,??????????,?????? ?? ????? ?????????? ????? ????.,??????? ??????? ????????? ???? ????.,????????????????????????????????,996,BB-9108
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44",343.6496,True,Black,100,...,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...,997,BK-R19B-44
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48",343.6496,True,Black,100,...,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...,998,BK-R19B-48
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52",343.6496,True,Black,100,...,Road-750,GIF89að • ÷  Švw÷÷÷íììÃÕ²hefãçÜôêêXTWåÜ×HEFnM...,Entry level adult bike; offers a comfortable r...,Vélo d'adulte d'entrée de gamme ; permet une c...,????????;????????????????????????,???? ????? ?????? ????????? ?? ????????? ??? ?...,"????? ??????? ????????; ?????? ????? ???? ""???...",????????????????????????????????? ????????????...,999,BK-R19B-52

In [19]:
sales_order = sales_order.merge(dim_product, left_on="ProductID", right_on="ProductID")

In [20]:
sales_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SalesOrderID            60398 non-null  int64
 1   RevisionNumber          60398 non-null  int64
 2   OrderDate               60398 non-null  object
 3   DueDate                 60398 non-null  object
 4   ShipDate                60398 non-null  object
 5   Status                  60398 non-null  int64
 6   OnlineOrderFlag         60398 non-null  bool
 7   SalesOrderNumber        60398 non-null  object
 8   PurchaseOrderNumber     0 non-null      object
 9   AccountNumber           60398 non-null  object
 10  CustomerID              60398 non-null  int64
 11  SalesPersonID           0 non-null      object
 12  TerritoryID             60398 non-null  int64
 13  BillToAddressID         60398 non-null  int64
 14  ShipToAddressID         60398 non-null  int64
 15  ShipMethodID            60398 non-null  int64
 16  CreditCardID            57953 non-null  float64
 17  CreditCardApprovalCode  57953 non-null  object
 18  SubTotal                60398 non-null  float64
 19  TaxAmt                  60398 non-null  float64
 20  Freight                 60398 non-null  float64
 21  TotalDue                60398 non-null  float64
 22  Comment                 0 non-null      object
 23  rowguid                 60398 non-null  object
 24  ModifiedDate            60398 non-null  datetime64[ns]
 25  SalesOrderDetailID      60398 non-null  int64
 26  CarrierTrackingNumber   0 non-null      object
 27  OrderQty                60398 non-null  int64
 28  ProductID               60398 non-null  int64
 29  SpecialOfferID          60398 non-null  int64
 30  UnitPrice               60398 non-null  float64
 31  UnitPriceDiscount       60398 non-null  float64
 32  LineTotal               60398 non-null  float64
 33  ProductStandardCost     60398 non-null  float64
 34  CurrencyKey             60398 non-null  int64
 35  CurrencyName            60398 non-null  object
 36  ProductKey              60398 non-null  int64
 37  ProductAlternateKey     60398 non-null  object
 38  ProductSubcategoryKey   60398 non-null  float64
 39  WeightUnitMeasureCode   15205 non-null  object
 40  SizeUnitMeasureCode     15205 non-null  object
 41  EnglishProductName      60398 non-null  object
 42  StandardCost            60398 non-null  float64
 43  FinishedGoodsFlag       60398 non-null  bool
 44  Color                   31479 non-null  object
 45  SafetyStockLevel        60398 non-null  int64
 46  ReorderPoint            60398 non-null  int64
 47  ListPrice               60398 non-null  float64
 48  Size                    22849 non-null  object
 49  Weight                  15205 non-null  float64
 50  DaysToManufacture       60398 non-null  int64
 51  ProductLine             60398 non-null  object
 52  Class                   21452 non-null  object
 53  Style                   24306 non-null  object
 54  ModelName               60398 non-null  object
 55  LargePhoto              60398 non-null  object
 56  EnglishDescription      60398 non-null  object
 57  FrenchDescription       60398 non-null  object
 58  ChineseDescription      60398 non-null  object
 59  ArabicDescription       60398 non-null  object
 60  HebrewDescription       60398 non-null  object
 61  ThaiDescription         60398 non-null  object
 62  ProductNumber           60398 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(13), int64(17), object(30)
memory usage: 28.2+ MB

In [21]:
sales_order = sales_order.merge(dim_customer, left_on="CustomerID", right_on="CustomerKey")

In [22]:
sales_order = sales_order.merge(dim_promotion, left_on="SpecialOfferID", right_on="PromotionKey")

In [23]:
sales_order = sales_order.merge(dim_sales_territory, left_on="TerritoryID", right_on="SalesTerritoryKey")

In [24]:
sales_order = sales_order.merge(dim_dates.rename(columns={'DateKey':'OrderDateKey'}), left_on="OrderDate", right_on="FullDateAlternateKey")
sales_order = sales_order.merge(dim_dates.rename(columns={'DateKey':'DueDateKey'}), left_on="DueDate", right_on="FullDateAlternateKey")
sales_order = sales_order.merge(dim_dates.rename(columns={'DateKey':'ShipDateKey'}), left_on="ShipDate", right_on="FullDateAlternateKey")

In [25]:

sales_order.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 156 columns):
 #    Column                      Dtype
---   ------                      -----
 0    SalesOrderID                int64
 1    RevisionNumber              int64
 2    OrderDate                   object
 3    DueDate                     object
 4    ShipDate                    object
 5    Status                      int64
 6    OnlineOrderFlag             bool
 7    SalesOrderNumber            object
 8    PurchaseOrderNumber         object
 9    AccountNumber               object
 10   CustomerID                  int64
 11   SalesPersonID               object
 12   TerritoryID                 int64
 13   BillToAddressID             int64
 14   ShipToAddressID             int64
 15   ShipMethodID                int64
 16   CreditCardID                float64
 17   CreditCardApprovalCode      object
 18   SubTotal                    float64
 19   TaxAmt                      float64
 20   Freight                     float64
 21   TotalDue                    float64
 22   Comment                     object
 23   rowguid                     object
 24   ModifiedDate                datetime64[ns]
 25   SalesOrderDetailID          int64
 26   CarrierTrackingNumber       object
 27   OrderQty                    int64
 28   ProductID                   int64
 29   SpecialOfferID              int64
 30   UnitPrice                   float64
 31   UnitPriceDiscount           float64
 32   LineTotal                   float64
 33   ProductStandardCost         float64
 34   CurrencyKey                 int64
 35   CurrencyName                object
 36   ProductKey                  int64
 37   ProductAlternateKey         object
 38   ProductSubcategoryKey       float64
 39   WeightUnitMeasureCode       object
 40   SizeUnitMeasureCode         object
 41   EnglishProductName          object
 42   StandardCost                float64
 43   FinishedGoodsFlag           bool
 44   Color                       object
 45   SafetyStockLevel            int64
 46   ReorderPoint                int64
 47   ListPrice                   float64
 48   Size                        object
 49   Weight                      float64
 50   DaysToManufacture           int64
 51   ProductLine                 object
 52   Class                       object
 53   Style                       object
 54   ModelName                   object
 55   LargePhoto                  object
 56   EnglishDescription          object
 57   FrenchDescription           object
 58   ChineseDescription          object
 59   ArabicDescription           object
 60   HebrewDescription           object
 61   ThaiDescription             object
 62   ProductNumber               object
 63   CustomerKey                 int64
 64   GeographyKey                int64
 65   CustomerAlternateKey        object
 66   Title                       object
 67   FirstName                   object
 68   MiddleName                  object
 69   LastName                    object
 70   NameStyle                   bool
 71   BirthDate                   datetime64[ns]
 72   MaritalStatus               object
 73   Suffix                      object
 74   Gender                      object
 75   EmailAddress                object
 76   YearlyIncome                object
 77   TotalChildren               float64
 78   NumberChildrenAtHome        float64
 79   EnglishEducation            object
 80   EnglishOccupation           object
 81   HouseOwnerFlag              bool
 82   NumberCarsOwned             float64
 83   AddressLine1                object
 84   AddressLine2                object
 85   Phone                       object
 86   DateFirstPurchase           datetime64[ns]
 87   PromotionKey                int64
 88   PromotionAlternateKey       int64
 89   EnglishPromotionName        object
 90   DiscountPct                 float64
 91   EnglishPromotionType        object
 92   EnglishPromotionCategory    object
 93   StartDate                   datetime64[ns]
 94   EndDate                     datetime64[ns]
 95   MinQty                      int64
 96   MaxQty                      float64
 97   SalesTerritoryKey           int64
 98   SalesTerritoryAlternateKey  int64
 99   SalesTerritoryRegion        object
 100  SalesTerritoryCountry       object
 101  SalesTerritoryGroup         object
 102  OrderDateKey                object
 103  FullDateAlternateKey_x      object
 104  EnglishDayNumberOfWeek_x    int64
 105  EnglishDayNameOfWeek_x      object
 106  SpanishDayNameOfWeek_x      object
 107  FrenchDayNameOfWeek_x       object
 108  DayNumberOfMonth_x          int64
 109  WeekNumberOfYear_x          object
 110  EnglishMonthName_x          object
 111  SpanishMonthName_x          object
 112  FrenchMonthName_x           object
 113  MonthNumberOfYear_x         int64
 114  CalendarQuarter_x           int64
 115  CalendarYear_x              int64
 116  CalendarSemester_x          int64
 117  FiscalQuarter_x             object
 118  FiscalYear_x                int64
 119  FiscalSemester_x            int64
 120  DueDateKey                  object
 121  FullDateAlternateKey_y      object
 122  EnglishDayNumberOfWeek_y    int64
 123  EnglishDayNameOfWeek_y      object
 124  SpanishDayNameOfWeek_y      object
 125  FrenchDayNameOfWeek_y       object
 126  DayNumberOfMonth_y          int64
 127  WeekNumberOfYear_y          object
 128  EnglishMonthName_y          object
 129  SpanishMonthName_y          object
 130  FrenchMonthName_y           object
 131  MonthNumberOfYear_y         int64
 132  CalendarQuarter_y           int64
 133  CalendarYear_y              int64
 134  CalendarSemester_y          int64
 135  FiscalQuarter_y             object
 136  FiscalYear_y                int64
 137  FiscalSemester_y            int64
 138  ShipDateKey                 object
 139  FullDateAlternateKey        object
 140  EnglishDayNumberOfWeek      int64
 141  EnglishDayNameOfWeek        object
 142  SpanishDayNameOfWeek        object
 143  FrenchDayNameOfWeek         object
 144  DayNumberOfMonth            int64
 145  WeekNumberOfYear            object
 146  EnglishMonthName            object
 147  SpanishMonthName            object
 148  FrenchMonthName             object
 149  MonthNumberOfYear           int64
 150  CalendarQuarter             int64
 151  CalendarYear                int64
 152  CalendarSemester            int64
 153  FiscalQuarter               object
 154  FiscalYear                  int64
 155  FiscalSemester              int64
dtypes: bool(4), datetime64[ns](5), float64(18), int64(48), object(81)
memory usage: 70.3+ MB

In [26]:
sales_order = sales_order.rename(columns={
    "OrderQty":"OrderQuantity",
    "DiscountPct":"UnitPriceDiscountPct",
    "ToCurrencyCode":"CurrencyKey",
    "PurchaseOrderNumber":"CustomerPONumber",
})

In [27]:
quantity_unitprice = zip(list(sales_order["OrderQuantity"]), list(sales_order["UnitPrice"]))
sales_order = sales_order.assign(ExtendedAmount=[x*y for x, y in quantity_unitprice])
sales_order

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,CustomerPONumber,AccountNumber,...,SpanishMonthName,FrenchMonthName,MonthNumberOfYear,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester,ExtendedAmount
0,43697,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,...,Junio,Juin,6,2,2011,1,4,2011,2,3578.2700
1,43698,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43698,None,10-4030-028389,...,Junio,Juin,6,2,2011,1,4,2011,2,3399.9900
2,43699,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43699,None,10-4030-025863,...,Junio,Juin,6,2,2011,1,4,2011,2,3399.9900
3,43700,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43700,None,10-4030-014501,...,Junio,Juin,6,2,2011,1,4,2011,2,699.0982
4,43701,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43701,None,10-4030-011003,...,Junio,Juin,6,2,2011,1,4,2011,2,3399.9900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,Julio,Juillet,7,3,2014,2,1,2015,1,21.9800
60394,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,Julio,Juillet,7,3,2014,2,1,2015,1,8.9900
60395,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,Julio,Juillet,7,3,2014,2,1,2015,1,21.9800
60396,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,Julio,Juillet,7,3,2014,2,1,2015,1,159.0000
60397,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,Julio,Juillet,7,3,2014,2,1,2015,1,8.9900

In [28]:
discountpct_discountamount = zip(list(sales_order["ExtendedAmount"]), list(sales_order["UnitPriceDiscountPct"]))
sales_order = sales_order.assign(DiscountAmount=[x*y for x, y in discountpct_discountamount])
sales_order

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,CustomerPONumber,AccountNumber,...,FrenchMonthName,MonthNumberOfYear,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester,ExtendedAmount,DiscountAmount
0,43697,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,...,Juin,6,2,2011,1,4,2011,2,3578.2700,71.565400
1,43698,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43698,None,10-4030-028389,...,Juin,6,2,2011,1,4,2011,2,3399.9900,67.999800
2,43699,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43699,None,10-4030-025863,...,Juin,6,2,2011,1,4,2011,2,3399.9900,67.999800
3,43700,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43700,None,10-4030-014501,...,Juin,6,2,2011,1,4,2011,2,699.0982,13.981964
4,43701,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43701,None,10-4030-011003,...,Juin,6,2,2011,1,4,2011,2,3399.9900,67.999800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,Juillet,7,3,2014,2,1,2015,1,21.9800,0.439600
60394,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,Juillet,7,3,2014,2,1,2015,1,8.9900,0.179800
60395,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,Juillet,7,3,2014,2,1,2015,1,21.9800,0.439600
60396,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,Juillet,7,3,2014,2,1,2015,1,159.0000,3.180000
60397,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,Juillet,7,3,2014,2,1,2015,1,8.9900,0.179800

In [29]:
total_product_cost = zip(list(sales_order["OrderQuantity"]), list(sales_order["ProductStandardCost"]))
sales_order = sales_order.assign(TotalProductCost=[x*y for x, y in total_product_cost])
sales_order

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,CustomerPONumber,AccountNumber,...,MonthNumberOfYear,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester,ExtendedAmount,DiscountAmount,TotalProductCost
0,43697,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,...,6,2,2011,1,4,2011,2,3578.2700,71.565400,2171.2942
1,43698,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43698,None,10-4030-028389,...,6,2,2011,1,4,2011,2,3399.9900,67.999800,1912.1544
2,43699,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43699,None,10-4030-025863,...,6,2,2011,1,4,2011,2,3399.9900,67.999800,1912.1544
3,43700,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43700,None,10-4030-014501,...,6,2,2011,1,4,2011,2,699.0982,13.981964,413.1463
4,43701,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43701,None,10-4030-011003,...,6,2,2011,1,4,2011,2,3399.9900,67.999800,1912.1544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,7,3,2014,2,1,2015,1,21.9800,0.439600,8.2205
60394,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,7,3,2014,2,1,2015,1,8.9900,0.179800,6.9223
60395,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,7,3,2014,2,1,2015,1,21.9800,0.439600,8.2205
60396,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,7,3,2014,2,1,2015,1,159.0000,3.180000,59.4660
60397,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,7,3,2014,2,1,2015,1,8.9900,0.179800,6.9223

In [30]:
sales_order = sales_order.assign(SalesAmount=list(sales_order["ExtendedAmount"]))
sales_order

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,CustomerPONumber,AccountNumber,...,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester,ExtendedAmount,DiscountAmount,TotalProductCost,SalesAmount
0,43697,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,...,2,2011,1,4,2011,2,3578.2700,71.565400,2171.2942,3578.2700
1,43698,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43698,None,10-4030-028389,...,2,2011,1,4,2011,2,3399.9900,67.999800,1912.1544,3399.9900
2,43699,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43699,None,10-4030-025863,...,2,2011,1,4,2011,2,3399.9900,67.999800,1912.1544,3399.9900
3,43700,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43700,None,10-4030-014501,...,2,2011,1,4,2011,2,699.0982,13.981964,413.1463,699.0982
4,43701,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43701,None,10-4030-011003,...,2,2011,1,4,2011,2,3399.9900,67.999800,1912.1544,3399.9900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,3,2014,2,1,2015,1,21.9800,0.439600,8.2205,21.9800
60394,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,3,2014,2,1,2015,1,8.9900,0.179800,6.9223,8.9900
60395,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,3,2014,2,1,2015,1,21.9800,0.439600,8.2205,21.9800
60396,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,3,2014,2,1,2015,1,159.0000,3.180000,59.4660,159.0000
60397,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,3,2014,2,1,2015,1,8.9900,0.179800,6.9223,8.9900

In [31]:
sales_order['SalesOrderLineNumber'] = sales_order.groupby(['SalesOrderID']).cumcount() + 1

sales_order[['SalesOrderNumber', 'SalesOrderLineNumber']]

      SalesOrderNumber  SalesOrderLineNumber
0              SO43697                     1
1              SO43698                     1
2              SO43699                     1
3              SO43700                     1
4              SO43701                     1
...                ...                   ...
60393          SO75122                     1
60394          SO75122                     2
60395          SO75123                     1
60396          SO75123                     2
60397          SO75123                     3

[60398 rows x 2 columns]

In [32]:
result = sales_order[[
                    "ProductKey",
                    "OrderDateKey",
                      "DueDateKey",
                      "ShipDateKey",
                      "CustomerKey", "PromotionKey",
                      "CurrencyKey",
                      "SalesTerritoryKey",
                      "SalesOrderNumber",
                      "SalesOrderLineNumber",
                      "RevisionNumber",
                      "OrderQuantity",
                      "UnitPrice",
                      "ExtendedAmount",
                      "UnitPriceDiscountPct",
                      "DiscountAmount",
                      "ProductStandardCost",
                      "TotalProductCost",
                      "SalesAmount",
                      "TaxAmt",
                      "Freight",
                      "CarrierTrackingNumber",
                      "CustomerPONumber", 
                      "OrderDate", "DueDate", "ShipDate"
                     ]]

In [33]:
result

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,310,20110531,20110612,20110607,21768,1,20,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2011-05-31,2011-06-12,2011-06-07
1,346,20110531,20110612,20110607,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2011-05-31,2011-06-12,2011-06-07
2,346,20110531,20110612,20110607,25863,1,98,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2011-05-31,2011-06-12,2011-06-07
3,336,20110531,20110612,20110607,14501,1,98,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,None,None,2011-05-31,2011-06-12,2011-06-07
4,346,20110531,20110612,20110607,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2011-05-31,2011-06-12,2011-06-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,485,20140630,20140712,20140707,15868,1,98,6,SO75122,1,...,8.2205,8.2205,21.9800,2.4776,0.7743,None,None,2014-06-30,2014-07-12,2014-07-07
60394,223,20140630,20140712,20140707,15868,1,98,6,SO75122,2,...,6.9223,6.9223,8.9900,2.4776,0.7743,None,None,2014-06-30,2014-07-12,2014-07-07
60395,485,20140630,20140712,20140707,18759,1,98,6,SO75123,1,...,8.2205,8.2205,21.9800,15.1976,4.7493,None,None,2014-06-30,2014-07-12,2014-07-07
60396,486,20140630,20140712,20140707,18759,1,98,6,SO75123,2,...,59.4660,59.4660,159.0000,15.1976,4.7493,None,None,2014-06-30,2014-07-12,2014-07-07
60397,223,20140630,20140712,20140707,18759,1,98,6,SO75123,3,...,6.9223,6.9223,8.9900,15.1976,4.7493,None,None,2014-06-30,2014-07-12,2014-07-07

## LOAD

In [34]:
db_op, db_etl = connect_databases()
result.to_sql('FactInternetSales', db_etl, if_exists='replace', index=False)

78

In [35]:
test = pd.read_sql_query('SELECT * FROM "FactInternetSales";', db_etl)
test

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,310,20110531,20110612,20110607,21768,1,20,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2011-05-31,2011-06-12,2011-06-07
1,346,20110531,20110612,20110607,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2011-05-31,2011-06-12,2011-06-07
2,346,20110531,20110612,20110607,25863,1,98,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2011-05-31,2011-06-12,2011-06-07
3,336,20110531,20110612,20110607,14501,1,98,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,None,None,2011-05-31,2011-06-12,2011-06-07
4,346,20110531,20110612,20110607,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2011-05-31,2011-06-12,2011-06-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,485,20140630,20140712,20140707,15868,1,98,6,SO75122,1,...,8.2205,8.2205,21.9800,2.4776,0.7743,None,None,2014-06-30,2014-07-12,2014-07-07
60394,223,20140630,20140712,20140707,15868,1,98,6,SO75122,2,...,6.9223,6.9223,8.9900,2.4776,0.7743,None,None,2014-06-30,2014-07-12,2014-07-07
60395,485,20140630,20140712,20140707,18759,1,98,6,SO75123,1,...,8.2205,8.2205,21.9800,15.1976,4.7493,None,None,2014-06-30,2014-07-12,2014-07-07
60396,486,20140630,20140712,20140707,18759,1,98,6,SO75123,2,...,59.4660,59.4660,159.0000,15.1976,4.7493,None,None,2014-06-30,2014-07-12,2014-07-07
60397,223,20140630,20140712,20140707,18759,1,98,6,SO75123,3,...,6.9223,6.9223,8.9900,15.1976,4.7493,None,None,2014-06-30,2014-07-12,2014-07-07