# INTERNET SALES FACT

In [1]:
import pandas as pd
from connection_script import connect_databases
from datetime import datetime

In [2]:
db_op, db_etl = connect_databases()

## EXTRACT

In [3]:
# Extract required data
# Sales online orders
sales_order = pd.read_sql_query("""
        SELECT *--t2.ProductID, t1.CustomerID, t2.SpecialOfferID,  t1.TerritoryID, t1.CurrencyRateID,
       -- t1.OrderDate, t1.DueDate, t1.ShipDate
        FROM Sales.SalesOrderHeader AS t1
        INNER JOIN Sales.SalesOrderDetail AS t2
        ON t1.SalesOrderID = t2.SalesOrderID
        WHERE t1.OnlineOrderFlag = 1;
        """, db_op)

sales_order

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43697,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,...,353,None,1,749,1,3578.2700,0.0,3578.2700,CA258BF8-1F52-4AE6-8E8F-5439AE0C9509,2011-05-31
1,43698,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43698,None,10-4030-028389,...,354,None,1,773,1,3399.9900,0.0,3399.9900,A2D7730F-D2D0-4C47-8F36-FBD316680CEF,2011-05-31
2,43699,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43699,None,10-4030-025863,...,355,None,1,773,1,3399.9900,0.0,3399.9900,2543C7BF-679B-47F3-A04F-EB5DA849EF32,2011-05-31
3,43700,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43700,None,10-4030-014501,...,356,None,1,767,1,699.0982,0.0,699.0982,6D43204A-DBA1-4013-BC4D-0273BAA703C9,2011-05-31
4,43701,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43701,None,10-4030-011003,...,357,None,1,773,1,3399.9900,0.0,3399.9900,5FF3B05F-57F0-4885-8E7B-64C4AD71AEB5,2011-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,121313,None,1,878,1,21.9800,0.0,21.9800,8CAD6675-18CC-4F47-8287-97B41A8EE47D,2014-06-30
60394,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,121314,None,1,712,1,8.9900,0.0,8.9900,84F1C363-1C50-4442-BE16-541C59B6E12C,2014-06-30
60395,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121315,None,1,878,1,21.9800,0.0,21.9800,C18B6476-429F-4BB1-828E-2BE5F82A0A51,2014-06-30
60396,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121316,None,1,879,1,159.0000,0.0,159.0000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,2014-06-30
60397,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121317,None,1,712,1,8.9900,0.0,8.9900,73646D26-0461-450D-8019-2C6C858619CA,2014-06-30

In [4]:
# Load required dimensions
dim_product =  pd.read_sql_query('SELECT * FROM "DimProduct";', db_etl)
dim_product

,ProductKey,ProductID,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,StandardCost,FinishedGoodsFlag,Color,...,Class,Style,ModelName,LargePhoto,EnglishDescription,FrenchDescription,ChineseDescription,ArabicDescriptions,HebrewDescription,ThaiDescriptions
0,0,1,AR-5381,NaN,None,None,Adjustable Race,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
1,1,2,BA-8327,NaN,None,None,Bearing Ball,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
2,2,3,BE-2349,NaN,None,None,BB Ball Bearing,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
3,3,4,BE-2908,NaN,None,None,Headset Ball Bearings,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
4,4,316,BL-2036,NaN,None,None,Blade,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,499,796,BK-R89B-58,2.0,LB,CM,"Road-250 Black, 58",1554.9479,True,Black,...,H,U,Road-250,\x474946383961f0009500f70000c6c8d9ebecfee2e3fe...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
500,500,789,BK-R89R-44,2.0,LB,CM,"Road-250 Red, 44",1518.7864,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
501,501,790,BK-R89R-48,2.0,LB,CM,"Road-250 Red, 48",1518.7864,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
502,502,791,BK-R89R-52,2.0,LB,CM,"Road-250 Red, 52",1518.7864,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
503,503,792,BK-R89R-58,2.0,LB,CM,"Road-250 Red, 58",1554.9479,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...

In [5]:
dim_customer = pd.read_sql_query('SELECT * FROM "DimCustomer";', db_etl)
dim_customer

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase
0,11000,210,AW00011000,Mr.,David,R.,Robinett,False,1961-02-23,M,...,4.0,0.0,Graduate Degree,Clerical,True,0.0,Pappelallee 6667,None,238-555-0100,2003-09-01
1,11001,37,AW00011001,Ms.,Rebecca,A.,Robinson,False,1965-06-11,M,...,3.0,3.0,Bachelors,Professional,True,1.0,1861 Chinquapin Ct,None,648-555-0100,2004-06-05
2,11002,34,AW00011002,Ms.,Dorothy,B.,Robinson,False,1954-09-23,S,...,2.0,0.0,Partial College,Skilled Manual,False,2.0,4693 Mills Dr.,None,423-555-0100,2002-04-07
3,11003,244,AW00011003,Ms.,Carol Ann,F.,Rockne,False,1943-07-15,M,...,1.0,0.0,Bachelors,Clerical,True,0.0,1312 Skycrest Drive,None,439-555-0100,2001-10-27
4,11004,22,AW00011004,Mr.,Scott,M.,Rodgers,False,1968-05-15,M,...,2.0,2.0,Bachelors,Professional,True,1.0,9860 Brookview Drive,None,989-555-0100,2002-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,272,AW00029479,None,Crystal,None,Guo,False,1974-11-23,S,...,0.0,0.0,Partial High School,Manual,True,2.0,988 Mt. Everest Court,None,1 (11) 500 555-0171,2004-04-19
18480,29480,380,AW00029480,None,Isabella,F,Richardson,False,1961-06-12,M,...,1.0,0.0,Partial College,Skilled Manual,True,1.0,7413 Alpine Drive,None,910-555-0166,2003-08-30
18481,29481,633,AW00029481,None,Crystal,S,He,False,1940-04-05,M,...,3.0,0.0,Bachelors,Management,True,2.0,4764 East Avenue,None,813-555-0148,2004-04-12
18482,29482,145,AW00029482,None,Crystal,None,Zheng,False,1975-07-25,S,...,0.0,0.0,Partial College,Clerical,True,1.0,"34334, rue Jean Mermoz",None,1 (11) 500 555-0171,2004-02-15
18483,29483,3,AW00029483,None,Crystal,None,Hu,False,1971-05-05,M,...,0.0,0.0,Bachelors,Professional,False,4.0,6022 La Salle Ct.,None,1 (11) 500 555-0126,2003-11-17

In [6]:
dim_promotion = pd.read_sql_query('SELECT * FROM "DimPromotion";', db_etl)
dim_promotion

,PromotionKey,PromotionAlternateKey,EnglishPromotionName,DiscountPct,EnglishPromotionType,EnglishPromotionCategory,StartDate,EndDate,MinQty,MaxQty
0,0,1,No Discount,0.00,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN
1,1,2,Volume Discount 11 to 14,0.02,Volume Discount,Reseller,2011-05-31,2014-05-30,11,14.0
2,2,3,Volume Discount 15 to 24,0.05,Volume Discount,Reseller,2011-05-31,2014-05-30,15,24.0
3,3,4,Volume Discount 25 to 40,0.10,Volume Discount,Reseller,2011-05-31,2014-05-30,25,40.0
4,4,5,Volume Discount 41 to 60,0.15,Volume Discount,Reseller,2011-05-31,2014-05-30,41,60.0
5,5,6,Volume Discount over 60,0.20,Volume Discount,Reseller,2011-05-31,2014-05-30,61,NaN
6,6,7,Mountain-100 Clearance Sale,0.35,Discontinued Product,Reseller,2012-04-13,2012-05-29,0,NaN
7,7,8,Sport Helmet Discount-2002,0.10,Seasonal Discount,Reseller,2012-05-30,2012-06-29,0,NaN
8,8,9,Road-650 Overstock,0.30,Excess Inventory,Reseller,2012-05-30,2012-07-30,0,NaN
9,9,10,Mountain Tire Sale,0.50,Excess Inventory,Customer,2013-05-14,2013-07-29,0,NaN
10,10,11,Sport Helmet Discount-2003,0.15,Seasonal Discount,Reseller,2013-05-30,2013-06-29,0,NaN
11,11,12,LL Road Frame Sale,0.35,Excess Inventory,Reseller,2013-05-30,2013-07-14,0,NaN
12,12,13,Touring-3000 Promotion,0.15,New Product,Reseller,2013-05-30,2013-08-29,0,NaN
13,13,14,Touring-1000 Promotion,0.20,New Product,Reseller,2013-05-30,2013-08-29,0,NaN
14,14,15,Half-Price Pedal Sale,0.50,Seasonal Discount,Customer,2013-07-14,2013-08-14,0,NaN
15,15,16,Mountain-500 Silver Clearance Sale,0.40,Discontinued Product,Reseller,2014-03-31,2014-05-30,0,NaN

In [7]:
dim_sales_territory = pd.read_sql_query('SELECT * FROM "DimSalesTerritory";', db_etl)
dim_sales_territory

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
0,1,1,Northwest,United States,North America
1,2,2,Northeast,United States,North America
2,3,3,Central,United States,North America
3,4,4,Southwest,United States,North America
4,5,5,Southeast,United States,North America
5,6,6,Canada,Canada,North America
6,7,7,France,France,Europe
7,8,8,Germany,Germany,Europe
8,9,9,Australia,Australia,Pacific
9,10,10,United Kingdom,United Kingdom,Europe
10,11,0,NA,NA,NA

In [8]:
dim_dates = pd.read_sql_query('SELECT * FROM "DimDate";', db_etl)
dim_dates

,DateKey,FullDateAlternateKey,EnglishDayNumberOfWeek,EnglishDayNameOfWeek,SpanishDayNameOfWeek,FrenchDayNameOfWeek,DayNumberOfMonth,WeekNumberOfYear,EnglishMonthName,SpanishMonthName,FrenchMonthName,MonthNumberOfYear,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester
0,20050101,2005-01-01,7,Saturday,Sã¡bado,Samedi,1,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
1,20050102,2005-01-02,1,Sunday,Domingo,Dimanche,2,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
2,20050103,2005-01-03,2,Monday,Lunes,Lundi,3,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
3,20050104,2005-01-04,3,Tuesday,Martes,Mardi,4,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
4,20050105,2005-01-05,4,Wednesday,Miã©rcoles,Mercredi,5,pending,January,Enero,Janvier,1,1,2005,1,3,2005,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,20141227,2014-12-27,7,Saturday,Sã¡bado,Samedi,361,pending,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
3648,20141228,2014-12-28,1,Sunday,Domingo,Dimanche,362,pending,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
3649,20141229,2014-12-29,2,Monday,Lunes,Lundi,363,pending,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
3650,20141230,2014-12-30,3,Tuesday,Martes,Mardi,364,pending,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
3651,20141231,2014-12-31,4,Wednesday,Miã©rcoles,Mercredi,365,pending,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1

In [9]:
sales_order["OrderDate"] = sales_order["OrderDate"].apply(lambda x: datetime.strftime(x, '%Y-%m-%d'))
sales_order["DueDate"] = sales_order["DueDate"].apply(lambda x: datetime.strftime(x, '%Y-%m-%d'))
sales_order["ShipDate"] = sales_order["ShipDate"].apply(lambda x: datetime.strftime(x, '%Y-%m-%d'))

## TRANSFORM

In [10]:
sales_order = sales_order.merge(dim_product, left_on="ProductID", right_on="ProductID")

In [11]:
sales_order = sales_order.merge(dim_customer, left_on="CustomerID", right_on="CustomerKey")

In [12]:
sales_order = sales_order.merge(dim_promotion, left_on="SpecialOfferID", right_on="PromotionKey")

In [13]:
sales_order = sales_order.merge(dim_sales_territory, left_on="TerritoryID", right_on="SalesTerritoryKey")

In [14]:
sales_order = sales_order.merge(dim_dates.rename(columns={'DateKey':'OrderDateKey'}), left_on="OrderDate", right_on="FullDateAlternateKey")
sales_order = sales_order.merge(dim_dates.rename(columns={'DateKey':'DueDateKey'}), left_on="DueDate", right_on="FullDateAlternateKey")
sales_order = sales_order.merge(dim_dates.rename(columns={'DateKey':'ShipDateKey'}), left_on="ShipDate", right_on="FullDateAlternateKey")

In [15]:

sales_order.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 156 columns):
 #    Column                      Dtype
---   ------                      -----
 0    SalesOrderID                int64
 1    RevisionNumber              int64
 2    OrderDate                   object
 3    DueDate                     object
 4    ShipDate                    object
 5    Status                      int64
 6    OnlineOrderFlag             bool
 7    SalesOrderNumber            object
 8    PurchaseOrderNumber         object
 9    AccountNumber               object
 10   CustomerID                  int64
 11   SalesPersonID               object
 12   TerritoryID                 int64
 13   BillToAddressID             int64
 14   ShipToAddressID             int64
 15   ShipMethodID                int64
 16   CreditCardID                float64
 17   CreditCardApprovalCode      object
 18   CurrencyRateID              float64
 19   SubTotal                    float64
 20   TaxAmt                      float64
 21   Freight                     float64
 22   TotalDue                    float64
 23   Comment                     object
 24   rowguid                     object
 25   ModifiedDate                datetime64[ns]
 26   SalesOrderID                int64
 27   SalesOrderDetailID          int64
 28   CarrierTrackingNumber       object
 29   OrderQty                    int64
 30   ProductID                   int64
 31   SpecialOfferID              int64
 32   UnitPrice                   float64
 33   UnitPriceDiscount           float64
 34   LineTotal                   float64
 35   rowguid                     object
 36   ModifiedDate                datetime64[ns]
 37   ProductKey                  int64
 38   ProductAlternateKey         object
 39   ProductSubcategoryKey       float64
 40   WeightUnitMeasureCode       object
 41   SizeUnitMeasureCode         object
 42   EnglishProductName          object
 43   StandardCost                float64
 44   FinishedGoodsFlag           bool
 45   Color                       object
 46   SafetyStockLevel            int64
 47   ReorderPoint                int64
 48   ListPrice                   float64
 49   Size                        object
 50   Weight                      float64
 51   DaysToManufacture           int64
 52   ProductLine                 object
 53   Class                       object
 54   Style                       object
 55   ModelName                   object
 56   LargePhoto                  object
 57   EnglishDescription          object
 58   FrenchDescription           object
 59   ChineseDescription          object
 60   ArabicDescriptions          object
 61   HebrewDescription           object
 62   ThaiDescriptions            object
 63   CustomerKey                 int64
 64   GeographyKey                int64
 65   CustomerAlternateKey        object
 66   Title                       object
 67   FirstName                   object
 68   MiddleName                  object
 69   LastName                    object
 70   NameStyle                   bool
 71   BirthDate                   datetime64[ns]
 72   MaritalStatus               object
 73   Suffix                      object
 74   Gender                      object
 75   EmailAddress                object
 76   YearlyIncome                object
 77   TotalChildren               float64
 78   NumberChildrenAtHome        float64
 79   EnglishEducation            object
 80   EnglishOccupation           object
 81   HouseOwnerFlag              bool
 82   NumberCarsOwned             float64
 83   AddressLine1                object
 84   AddressLine2                object
 85   Phone                       object
 86   DateFirstPurchase           datetime64[ns]
 87   PromotionKey                int64
 88   PromotionAlternateKey       int64
 89   EnglishPromotionName        object
 90   DiscountPct                 float64
 91   EnglishPromotionType        object
 92   EnglishPromotionCategory    object
 93   StartDate                   datetime64[ns]
 94   EndDate                     datetime64[ns]
 95   MinQty                      int64
 96   MaxQty                      float64
 97   SalesTerritoryKey           int64
 98   SalesTerritoryAlternateKey  int64
 99   SalesTerritoryRegion        object
 100  SalesTerritoryCountry       object
 101  SalesTerritoryGroup         object
 102  OrderDateKey                object
 103  FullDateAlternateKey_x      object
 104  EnglishDayNumberOfWeek_x    int64
 105  EnglishDayNameOfWeek_x      object
 106  SpanishDayNameOfWeek_x      object
 107  FrenchDayNameOfWeek_x       object
 108  DayNumberOfMonth_x          int64
 109  WeekNumberOfYear_x          object
 110  EnglishMonthName_x          object
 111  SpanishMonthName_x          object
 112  FrenchMonthName_x           object
 113  MonthNumberOfYear_x         int64
 114  CalendarQuarter_x           int64
 115  CalendarYear_x              int64
 116  CalendarSemester_x          int64
 117  FiscalQuarter_x             object
 118  FiscalYear_x                int64
 119  FiscalSemester_x            int64
 120  DueDateKey                  object
 121  FullDateAlternateKey_y      object
 122  EnglishDayNumberOfWeek_y    int64
 123  EnglishDayNameOfWeek_y      object
 124  SpanishDayNameOfWeek_y      object
 125  FrenchDayNameOfWeek_y       object
 126  DayNumberOfMonth_y          int64
 127  WeekNumberOfYear_y          object
 128  EnglishMonthName_y          object
 129  SpanishMonthName_y          object
 130  FrenchMonthName_y           object
 131  MonthNumberOfYear_y         int64
 132  CalendarQuarter_y           int64
 133  CalendarYear_y              int64
 134  CalendarSemester_y          int64
 135  FiscalQuarter_y             object
 136  FiscalYear_y                int64
 137  FiscalSemester_y            int64
 138  ShipDateKey                 object
 139  FullDateAlternateKey        object
 140  EnglishDayNumberOfWeek      int64
 141  EnglishDayNameOfWeek        object
 142  SpanishDayNameOfWeek        object
 143  FrenchDayNameOfWeek         object
 144  DayNumberOfMonth            int64
 145  WeekNumberOfYear            object
 146  EnglishMonthName            object
 147  SpanishMonthName            object
 148  FrenchMonthName             object
 149  MonthNumberOfYear           int64
 150  CalendarQuarter             int64
 151  CalendarYear                int64
 152  CalendarSemester            int64
 153  FiscalQuarter               object
 154  FiscalYear                  int64
 155  FiscalSemester              int64
dtypes: bool(4), datetime64[ns](6), float64(18), int64(48), object(80)
memory usage: 70.3+ MB

In [16]:
sales_order = sales_order.rename(columns={
    "OrderQty":"OrderQuantity",
})

In [17]:
result = sales_order[["ProductKey", "OrderDate", "DueDate", "ShipDate", "CustomerKey", "PromotionKey",
                     #CurrencyKey, #missing!
                      "SalesTerritoryKey",
                      "SalesOrderNumber",
                      #"SalesOrderLineNumber", #missing!,
                      "RevisionNumber",
                      "OrderQuantity",
                      "UnitPrice",
                      #"ExtendedAmount", #missing!,
                      #"UnitPriceDiscount", #missing!,
                      #"DiscountAmount", #missing!,
                      #"ProductStandardCost", #missing!,
                      #"TotalProductCost", #missing!,
                      #"SalesAmount", #missing!,
                      "TaxAmt",
                      "Freight",
                      "CarrierTrackingNumber",
                      #"CustomerPONumber", #missing!,
                      "OrderDateKey",
                      "DueDateKey",
                      "ShipDateKey",
                     ]]

In [18]:
result

,ProductKey,OrderDate,DueDate,ShipDate,CustomerKey,PromotionKey,SalesTerritoryKey,SalesOrderNumber,RevisionNumber,OrderQuantity,UnitPrice,TaxAmt,Freight,CarrierTrackingNumber,OrderDateKey,DueDateKey,ShipDateKey
0,405,2011-05-31,2011-06-12,2011-06-07,21768,1,6,SO43697,8,1,3578.2700,286.2616,89.4568,None,20110531,20110612,20110607
1,418,2011-05-31,2011-06-12,2011-06-07,28389,1,7,SO43698,8,1,3399.9900,271.9992,84.9998,None,20110531,20110612,20110607
2,418,2011-05-31,2011-06-12,2011-06-07,25863,1,1,SO43699,8,1,3399.9900,271.9992,84.9998,None,20110531,20110612,20110607
3,397,2011-05-31,2011-06-12,2011-06-07,14501,1,4,SO43700,8,1,699.0982,55.9279,17.4775,None,20110531,20110612,20110607
4,418,2011-05-31,2011-06-12,2011-06-07,11003,1,9,SO43701,8,1,3399.9900,271.9992,84.9998,None,20110531,20110612,20110607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,74,2014-06-30,2014-07-12,2014-07-07,15868,1,6,SO75122,8,1,21.9800,2.4776,0.7743,None,20140630,20140712,20140707
60394,141,2014-06-30,2014-07-12,2014-07-07,15868,1,6,SO75122,8,1,8.9900,2.4776,0.7743,None,20140630,20140712,20140707
60395,74,2014-06-30,2014-07-12,2014-07-07,18759,1,6,SO75123,8,1,21.9800,15.1976,4.7493,None,20140630,20140712,20140707
60396,75,2014-06-30,2014-07-12,2014-07-07,18759,1,6,SO75123,8,1,159.0000,15.1976,4.7493,None,20140630,20140712,20140707
60397,141,2014-06-30,2014-07-12,2014-07-07,18759,1,6,SO75123,8,1,8.9900,15.1976,4.7493,None,20140630,20140712,20140707

## LOAD

In [19]:
db_op, db_etl = connect_databases()
result.to_sql('FactInternetSales', db_etl, if_exists='replace', index=False)

398