# INTERNET SALES FACT

In [1]:
import pandas as pd
from connection_script import connect_databases

In [2]:
db_op, db_etl = connect_databases()

## EXTRACT

In [3]:
# Extract required data
# Sales online orders
sales_order = pd.read_sql_query("""
        SELECT t2.ProductID, t1.CustomerID, t2.SpecialOfferID,  t1.TerritoryID, t1.CurrencyRateID,
        FROM Sales.SalesOrderHeader AS t1
        INNER JOIN Sales.SalesOrderDetail AS t2
        ON t1.SalesOrderID = t2.SalesOrderID
        WHERE t1.OnlineOrderFlag = 1;
        """, db_op)

sales_order

       ProductID  CustomerID  SpecialOfferID  TerritoryID
0            749       21768               1            6
1            773       28389               1            7
2            773       25863               1            1
3            767       14501               1            4
4            773       11003               1            9
...          ...         ...             ...          ...
60393        878       15868               1            6
60394        712       15868               1            6
60395        878       18759               1            6
60396        879       18759               1            6
60397        712       18759               1            6

[60398 rows x 4 columns]

In [4]:
# Load required dimensions
dim_product =  pd.read_sql_query('SELECT * FROM "DimProduct";', db_etl)
dim_product

,ProductKey,ProductID,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,StandardCost,FinishedGoodsFlag,Color,...,Class,Style,ModelName,LargePhoto,EnglishDescription,FrenchDescription,ChineseDescription,ArabicDescriptions,HebrewDescription,ThaiDescriptions
0,0,1,AR-5381,NaN,None,None,Adjustable Race,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
1,1,2,BA-8327,NaN,None,None,Bearing Ball,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
2,2,3,BE-2349,NaN,None,None,BB Ball Bearing,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
3,3,4,BE-2908,NaN,None,None,Headset Ball Bearings,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
4,4,316,BL-2036,NaN,None,None,Blade,0.0000,False,None,...,None,None,None,\x474946383961f0009500f70000000000800000008000...,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,499,796,BK-R89B-58,2.0,LB,CM,"Road-250 Black, 58",1554.9479,True,Black,...,H,U,Road-250,\x474946383961f0009500f70000c6c8d9ebecfee2e3fe...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
500,500,789,BK-R89R-44,2.0,LB,CM,"Road-250 Red, 44",1518.7864,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
501,501,790,BK-R89R-48,2.0,LB,CM,"Road-250 Red, 48",1518.7864,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
502,502,791,BK-R89R-52,2.0,LB,CM,"Road-250 Red, 52",1518.7864,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...
503,503,792,BK-R89R-58,2.0,LB,CM,"Road-250 Red, 58",1554.9479,True,Red,...,H,U,Road-250,\x474946383961f0009500f700009f636acacbf8d6e6ef...,"Alluminum-alloy frame provides a light, stiff ...",Cadre en alliage d'aluminium qui offre une con...,铝合金车架确保骑乘轻快、稳固，可用于室内比赛或参加俱乐部的越野活动。,يوفر الهيكل المصنوع من سبيكة ألومنيوم قيادة قو...,מסגרת מסגסוגת אלומיניום מספקת רכיבה קלה ומוצקה...,เฟรมอลูมิเนียมอัลลอยด์ ให้การขับขี่ที่เบา มั่น...

In [5]:
dim_customer = pd.read_sql_query('SELECT * FROM "DimCustomer";', db_etl)
dim_customer

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase
0,11000,210,AW00011000,Mr.,David,R.,Robinett,False,1961-02-23,M,...,4.0,0.0,Graduate Degree,Clerical,True,0.0,Pappelallee 6667,None,238-555-0100,2003-09-01
1,11001,37,AW00011001,Ms.,Rebecca,A.,Robinson,False,1965-06-11,M,...,3.0,3.0,Bachelors,Professional,True,1.0,1861 Chinquapin Ct,None,648-555-0100,2004-06-05
2,11002,34,AW00011002,Ms.,Dorothy,B.,Robinson,False,1954-09-23,S,...,2.0,0.0,Partial College,Skilled Manual,False,2.0,4693 Mills Dr.,None,423-555-0100,2002-04-07
3,11003,244,AW00011003,Ms.,Carol Ann,F.,Rockne,False,1943-07-15,M,...,1.0,0.0,Bachelors,Clerical,True,0.0,1312 Skycrest Drive,None,439-555-0100,2001-10-27
4,11004,22,AW00011004,Mr.,Scott,M.,Rodgers,False,1968-05-15,M,...,2.0,2.0,Bachelors,Professional,True,1.0,9860 Brookview Drive,None,989-555-0100,2002-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,272,AW00029479,None,Crystal,None,Guo,False,1974-11-23,S,...,0.0,0.0,Partial High School,Manual,True,2.0,988 Mt. Everest Court,None,1 (11) 500 555-0171,2004-04-19
18480,29480,380,AW00029480,None,Isabella,F,Richardson,False,1961-06-12,M,...,1.0,0.0,Partial College,Skilled Manual,True,1.0,7413 Alpine Drive,None,910-555-0166,2003-08-30
18481,29481,633,AW00029481,None,Crystal,S,He,False,1940-04-05,M,...,3.0,0.0,Bachelors,Management,True,2.0,4764 East Avenue,None,813-555-0148,2004-04-12
18482,29482,145,AW00029482,None,Crystal,None,Zheng,False,1975-07-25,S,...,0.0,0.0,Partial College,Clerical,True,1.0,"34334, rue Jean Mermoz",None,1 (11) 500 555-0171,2004-02-15
18483,29483,3,AW00029483,None,Crystal,None,Hu,False,1971-05-05,M,...,0.0,0.0,Bachelors,Professional,False,4.0,6022 La Salle Ct.,None,1 (11) 500 555-0126,2003-11-17

In [6]:
dim_promotion = pd.read_sql_query('SELECT * FROM "DimPromotion";', db_etl)
dim_promotion

,PromotionKey,PromotionAlternateKey,EnglishPromotionName,DiscountPct,EnglishPromotionType,EnglishPromotionCategory,StartDate,EndDate,MinQty,MaxQty
0,0,1,No Discount,0.00,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN
1,1,2,Volume Discount 11 to 14,0.02,Volume Discount,Reseller,2011-05-31,2014-05-30,11,14.0
2,2,3,Volume Discount 15 to 24,0.05,Volume Discount,Reseller,2011-05-31,2014-05-30,15,24.0
3,3,4,Volume Discount 25 to 40,0.10,Volume Discount,Reseller,2011-05-31,2014-05-30,25,40.0
4,4,5,Volume Discount 41 to 60,0.15,Volume Discount,Reseller,2011-05-31,2014-05-30,41,60.0
5,5,6,Volume Discount over 60,0.20,Volume Discount,Reseller,2011-05-31,2014-05-30,61,NaN
6,6,7,Mountain-100 Clearance Sale,0.35,Discontinued Product,Reseller,2012-04-13,2012-05-29,0,NaN
7,7,8,Sport Helmet Discount-2002,0.10,Seasonal Discount,Reseller,2012-05-30,2012-06-29,0,NaN
8,8,9,Road-650 Overstock,0.30,Excess Inventory,Reseller,2012-05-30,2012-07-30,0,NaN
9,9,10,Mountain Tire Sale,0.50,Excess Inventory,Customer,2013-05-14,2013-07-29,0,NaN
10,10,11,Sport Helmet Discount-2003,0.15,Seasonal Discount,Reseller,2013-05-30,2013-06-29,0,NaN
11,11,12,LL Road Frame Sale,0.35,Excess Inventory,Reseller,2013-05-30,2013-07-14,0,NaN
12,12,13,Touring-3000 Promotion,0.15,New Product,Reseller,2013-05-30,2013-08-29,0,NaN
13,13,14,Touring-1000 Promotion,0.20,New Product,Reseller,2013-05-30,2013-08-29,0,NaN
14,14,15,Half-Price Pedal Sale,0.50,Seasonal Discount,Customer,2013-07-14,2013-08-14,0,NaN
15,15,16,Mountain-500 Silver Clearance Sale,0.40,Discontinued Product,Reseller,2014-03-31,2014-05-30,0,NaN

In [11]:
dim_sales_territory = pd.read_sql_query('SELECT * FROM "DimSalesTerritory";', db_etl)
dim_sales_territory

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
0,1,1,Northwest,United States,North America
1,2,2,Northeast,United States,North America
2,3,3,Central,United States,North America
3,4,4,Southwest,United States,North America
4,5,5,Southeast,United States,North America
5,6,6,Canada,Canada,North America
6,7,7,France,France,Europe
7,8,8,Germany,Germany,Europe
8,9,9,Australia,Australia,Pacific
9,10,10,United Kingdom,United Kingdom,Europe
10,11,0,NA,NA,NA

## TRANSFORM

In [7]:
sales_order = sales_order.merge(dim_product, left_on="ProductID", right_on="ProductID")

In [8]:
sales_order = sales_order.merge(dim_customer, left_on="CustomerID", right_on="CustomerKey")

In [9]:
sales_order = sales_order.merge(dim_promotion, left_on="SpecialOfferID", right_on="PromotionKey")

In [12]:
sales_order = sales_order.merge(dim_sales_territory, left_on="TerritoryID", right_on="SalesTerritoryKey")

In [13]:
sales_order

,ProductID,CustomerID,SpecialOfferID,TerritoryID,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,...,EnglishPromotionCategory,StartDate,EndDate,MinQty,MaxQty,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
0,749,21768,1,6,405,BK-R93R-62,2.0,LB,CM,"Road-150 Red, 62",...,Reseller,2011-05-31,2014-05-30,11,14.0,6,6,Canada,Canada,North America
1,773,28389,1,7,418,BK-M82S-44,1.0,LB,CM,"Mountain-100 Silver, 44",...,Reseller,2011-05-31,2014-05-30,11,14.0,7,7,France,France,Europe
2,773,25863,1,1,418,BK-M82S-44,1.0,LB,CM,"Mountain-100 Silver, 44",...,Reseller,2011-05-31,2014-05-30,11,14.0,1,1,Northwest,United States,North America
3,767,14501,1,4,397,BK-R50B-62,2.0,LB,CM,"Road-650 Black, 62",...,Reseller,2011-05-31,2014-05-30,11,14.0,4,4,Southwest,United States,North America
4,773,11003,1,9,418,BK-M82S-44,1.0,LB,CM,"Mountain-100 Silver, 44",...,Reseller,2011-05-31,2014-05-30,11,14.0,9,9,Australia,Australia,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,878,15868,1,6,74,FE-6654,30.0,None,None,Fender Set - Mountain,...,Reseller,2011-05-31,2014-05-30,11,14.0,6,6,Canada,Canada,North America
60394,712,15868,1,6,141,CA-1098,19.0,None,None,AWC Logo Cap,...,Reseller,2011-05-31,2014-05-30,11,14.0,6,6,Canada,Canada,North America
60395,878,18759,1,6,74,FE-6654,30.0,None,None,Fender Set - Mountain,...,Reseller,2011-05-31,2014-05-30,11,14.0,6,6,Canada,Canada,North America
60396,879,18759,1,6,75,ST-1401,27.0,None,None,All-Purpose Bike Stand,...,Reseller,2011-05-31,2014-05-30,11,14.0,6,6,Canada,Canada,North America
60397,712,18759,1,6,141,CA-1098,19.0,None,None,AWC Logo Cap,...,Reseller,2011-05-31,2014-05-30,11,14.0,6,6,Canada,Canada,North America